[project]
	description = EIDP Version 4
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Guzman (david-guzman)
[access "refs/for/refs/*"]
	read = group user/David Guzman (david-guzman)
	push = group user/David Guzman (david-guzman)
	label-Code-Review = -2..+2 group user/David Guzman (david-guzman)
	label-Verified = -1..+1 group user/David Guzman (david-guzman)
	rebase = group user/David Guzman (david-guzman)
	removeReviewer = group user/David Guzman (david-guzman)
	submit = group user/David Guzman (david-guzman)
[access "refs/heads/*"]
	read = group user/David Guzman (david-guzman)
	create = group user/David Guzman (david-guzman)
	push = +force group user/David Guzman (david-guzman)
	pushMerge = group user/David Guzman (david-guzman)
[access "refs/tags/*"]
	push = +force group user/David Guzman (david-guzman)
	pushTag = group user/David Guzman (david-guzman)
	pushSignedTag = group user/David Guzman (david-guzman)
