<div (mousemove)="resetProgressBar()" (keypress)="resetProgressBar()" class="container align-items-center">

  <div class="row">
    <div class="col">
      <pre>
        <code>
          _____ _  ____  ____     _
          /  __// \/  _ \/  __\/\ / |
          |  \  | || | \||  \/|\_\| |
          |  /_ | || |_/||  __/   | |
          \____\\_/\____/\_/      \_|

        </code>
      </pre>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-10">
          <form class="form-signin" (ngSubmit)="onLogin(username.value, password.value)" #authForm="ngForm">
            <h2 class="form-signin-heading">{{heading}}</h2>
            <div class="form-group">
              <label class="sr-only" for="inputUsername">Username</label>
              <input type="text" #username class="form-control" id="inputUsername" placeholder="Username">
            </div>
            <div class="form-group">
              <label class="sr-only" for="inputPassword">Password</label>
              <input type="password" #password class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!authForm.form.valid">Sign in</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <progress class="progress progress-striped" value="{{pgbValue}}" max="{{timeout}}"></progress>
          <alert type="info">Hello from ng2-bootstrap</alert>
        </div>
      </div>
    </div>
  </div>

</div>
