<div (mousemove)="resetProgressBar()" (keypress)="resetProgressBar()" class="container">

  <div class="row align-items-center h-100 bg-inverse bg-shader">
    <div class="col">
      <div class="jumbotron login-heading">
        <h2 class="display-3 text-white">{{heading}}</h2>
        <p class="lead text-white">Login to {{heading}}</p>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-10">
          <form [formGroup]="authForm" class="form-signin" (ngSubmit)="onLogin(username.value, password.value)">
            <div class="form-group">
              <label class="sr-only" for="inputUsername">Username</label>
              <input type="text" class="form-control" formControlName="inputUsername" id="inputUsername" placeholder="Username" required>
            </div>
            <div class="form-group">
              <label class="sr-only" for="inputPassword">Password</label>
              <input type="password" class="form-control" formControlName="inputPassword" id="inputPassword" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!authForm.valid">Sign in</button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <progress class="progress progress-striped w-100" [value]="pgbValue" [max]="timeout"></progress>
          <alert type="info">Alert from ngx-bootstrap</alert>
        </div>
      </div>
    </div>
  </div>

</div>
