html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-height-container {
    height: 100%;
    padding: 0;
}

.full-height-row {
    height: inherit;
}

.full-height-wrapper {
    display: table;
    height: inherit;
    width: 100%;
    text-align: center;
}

.full-height-inner {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
}
